BR2_arm=y
BR2_cortex_a8=y
BR2_KERNEL_MIRROR="https://www.kernel.org/pub"
BR2_GNU_MIRROR="http://ftp.gnu.org/pub/gnu"
# BR2_COMPILER_PARANOID_UNSAFE_PATH is not set
BR2_TOOLCHAIN_EXTERNAL=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_ROOT_PASSWD="linux"
BR2_ENABLE_LOCALE_WHITELIST="C"
BR2_GENERATE_LOCALE="en_US"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/fs-overlay/ $(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/fs-overlay-experimental/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/custom-FIT-intree.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/scripts/modules.sh $(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/post-image-barebox.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_EXTERNAL_ONRISC_BSP_PATH)"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.4.15"
BR2_LINUX_KERNEL_PATCH="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/kernel-patches/upstream"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/linux-4.x-config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="am335x-baltos-ir2110 am335x-baltos-ir3220 am335x-baltos-ir5221 am335x-netcan-plus-1xx am335x-netcom-plus-2xx am335x-netcom-plus-8xx"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/bb-config"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_RALINK_RT2XX=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_81XX=y
BR2_PACKAGE_LINUX_FIRMWARE_TI_WL18XX=y
BR2_PACKAGE_MINICOM=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON3_ZLIB=y
BR2_PACKAGE_PYTHON_NETIFACES=y
BR2_PACKAGE_PYTHON_SERIAL=y
BR2_PACKAGE_CAN_UTILS=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_SER2NET=y
BR2_PACKAGE_TMUX=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="200M"
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
BR2_TARGET_ROOTFS_TAR_BZIP2=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_VERSION=y
BR2_TARGET_BAREBOX_CUSTOM_VERSION_VALUE="2018.02.0"
BR2_TARGET_BAREBOX_USE_CUSTOM_CONFIG=y
BR2_TARGET_BAREBOX_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/barebox/am335x_baltos_defconfig"
BR2_TARGET_BAREBOX_IMAGE_FILE="images/barebox-am33xx-baltos.img"
BR2_TARGET_BAREBOX_CUSTOM_EMBEDDED_ENV_PATH="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/barebox/env/"
BR2_TARGET_BAREBOX_AUX=y
BR2_TARGET_BAREBOX_AUX_USE_CUSTOM_CONFIG=y
BR2_TARGET_BAREBOX_AUX_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_ONRISC_BSP_PATH)/board/vscom/baltos/barebox/am335x_baltos_mlo_defconfig"
BR2_TARGET_BAREBOX_AUX_IMAGE_FILE="images/barebox-am33xx-baltos-mlo.img"
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS_FIT_SUPPORT=y
BR2_PACKAGE_LIBONRISC=y
